* {
  font-family: sans-serif;
}

html {
  overflow: hidden;
  height:100%;
  width: 97%;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

ul{
    height:calc(100% - 100px); 
    width:auto;
    list-style-type: none;
    overflow:hidden; 
    overflow-y:scroll;
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
    /* background-color: #e6f5ff; */
}
ul::-webkit-scrollbar {
  display: none;
}

li {
  padding: 10px;
  margin: 0px;
  max-width: 200px;
  overflow: hidden;
}

.liFolder {
  font-weight: bold;
}

[class*="liFocused"] {
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  border: solid;
}

#fullPathText {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction:rtl;
    text-align: left;
    font-size: xx-large;
    unicode-bidi:bidi-override;
  }

#myColumns{
  height: 100%;
  width: 100%;
  display: flex;
  overflow: scroll; 
}

div::-webkit-scrollbar {
  display: none;
}

.liClicked {
  animation: color-change 1s forwards;
}

@keyframes color-change {
  0% {color: red; border-width: 5px;}
  100% {color: black; border-width: 2px;}
}